/* CSS TEMA GALAXY */
body {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
  background: radial-gradient(circle at top right, #2b1055, #7597de);
  background-color: #1e1e2e;
  color: white;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  -webkit-user-select: none;
  user-select: none;
}
.btn-back {
  position: absolute;
  top: 20px;
  left: 20px;
  text-decoration: none;
  background: #ff4757;
  color: white;
  padding: 8px 15px;
  border-radius: 20px;
  font-weight: bold;
  font-size: 0.9rem;
}

/* HUD */
.hud {
  display: flex;
  justify-content: space-between;
  width: 90%;
  max-width: 600px;
  margin-bottom: 10px;
  font-family: "Orbitron", sans-serif;
}
.score-box {
  font-size: 1.5rem;
  color: #ffeb3b;
}
.timer-box {
  font-size: 1.5rem;
  color: #00f2ff;
}

/* AREA SOAL */
.question-box {
  font-size: 2rem;
  font-family: "Orbitron", sans-serif;
  font-weight: bold;
  margin-bottom: 20px;
  text-shadow: 0 0 20px rgba(0, 242, 255, 0.8);
  text-align: center;
  min-height: 50px;
}

/* PIANO KEYS */
.piano-container {
  display: flex;
  gap: 5px;
  padding: 10px;
  background: #111;
  border-radius: 10px;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.5);
  margin-bottom: 20px;
}

.key {
  width: 50px;
  height: 180px;
  background: white;
  border-radius: 0 0 5px 5px;
  cursor: pointer;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  padding-bottom: 20px;
  color: #333;
  font-weight: bold;
  font-size: 1.5rem;
  transition: 0.1s;
  touch-action: manipulation;
}

/* EFEK GLOWING */
.key.active {
  background: #00f2ff;
  color: black;
  transform: scale(0.95);
  box-shadow: 0 0 20px #00f2ff;
}

/* TOMBOL LEVEL (BARU) */
.controls-area {
  text-align: center;
}
.difficulty-selector {
  margin-bottom: 15px;
}
.btn-level {
  padding: 8px 15px;
  margin: 0 5px;
  background: rgba(255, 255, 255, 0.1);
  border: 1px solid #aaa;
  color: #ccc;
  border-radius: 20px;
  cursor: pointer;
}
.btn-level.active {
  background: #00f2ff;
  color: black;
  border-color: #00f2ff;
  font-weight: bold;
}

.btn-start {
  padding: 10px 40px;
  background: linear-gradient(45deg, #ff00cc, #333399);
  color: white;
  border: none;
  border-radius: 30px;
  font-weight: bold;
  font-size: 1.2rem;
  cursor: pointer;
}

/* MODAL GAME OVER */
.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.9);
  display: none;
  justify-content: center;
  align-items: center;
  z-index: 100;
}
.modal-content {
  background: #1e1e2e;
  padding: 40px;
  border-radius: 20px;
  text-align: center;
  border: 2px solid #00f2ff;
  box-shadow: 0 0 30px #00f2ff;
}


